#background {
  width: 100%;
  height: 100%;
}

#heartrate_icon {
  x: $-50;
  y: 5;
  width: 45;
  height: 43;
}

#heartrate_num {
  fill: #0dd589;
  font-family: Fabrikat-Bold;
  font-size: 34;
  x: 295;
  y: 34;
  text-anchor: end;
}

#steps_icon {
  x: $-38;
  y: 55;
  width: 32;
  height: 55;
}

#steps_num {
  fill: #ff63ff;
  font-family: Fabrikat-Bold;
  font-size: 34;
  x: 295;
  y: 100;
  text-anchor: end;
}

#month_num {
  y: 5;
  x: 5;
}

#day_num {
  y: $-8;
  x: 40;
}

#day_of_week {
  y: 5;
  x: $-12;
  width: 115;
  height: 49;
}

#hour_num {
  y: 275;
}

#minute_num {
  y: 275;
  x: $+10;
  width: 60%;
  height: 60%;
}
