.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
}

#heartrate_icon {
  x: 187;
  y: 5;
  width: 50;
  height: 48;
}

#heartrate_num {
  fill: #0fe795;
  font-family: Fabrikat-Bold;
  font-size: 34;
  x: 244;
  y: 34;
  text-anchor: start;
}

#steps_icon{
  x: 160;
  y: 50;
  width: 34;
  height: 58;
}

#steps_num{
  fill: #ff63ff;
  font-family: Fabrikat-Bold;
  font-size: 34;
  x: 200;
  y: 95;
  text-anchor: start;
}